<link rel="stylesheet" href="css/giang-vien.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="../../"></a></li>
                <li><a href="../../tu-van">Đào tạo</a></li>
                <li><span>Giảng viên</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-teacher">
        <div class="wrapper">
            <h1 class="page-title">Giảng viên</h1>
        </div>
        <div class="wrapper">
            <div class="form-teacher slider">
                <section>
                    <div class="teacher">
                        <div class="img-teacher">
                            <img src="img/training/teacher1.png" alt="" />
                        </div>
                        <h3 class="name-teacher">Lê Thị Kim Châu</h3>
                        <p class="introduce-teacher">
                            Bác sĩ có gần 30 năm kinh nghiệm trong ngành Y khoa và 20 năm
                            kinh nghiệm giảng dạy kiến thức y khoa tại các trường đại học,
                            cao đẳng...
                        </p>
                        <a class="go-teacher">Chi tiết</a>
                    </div>
                </section>
                <section>
                    <div class="teacher">
                        <div class="img-teacher">
                            <img src="img/training/teacher2.png" alt="" />
                        </div>

                        <h3 class="name-teacher">TS. Lê Hoàn</h3>
                        <p class="introduce-teacher">
                            Chương trình phụ trách: Kiến thức về nghiệp vụ bảo hiểm Hàng
                            hải
                        </p>
                        <a class="go-teacher">Chi tiết</a>
                    </div>
                </section>
                <sectio>
                    <div class="teacher">
                        <div class="img-teacher">
                            <img src="img/training/teacher3.png" alt="" />
                        </div>

                        <h3 class="name-teacher">PGS.TS. Nguyễn Văn Định</h3>
                        <p class="introduce-teacher">
                            Chương trình phụ trách: Nguyên lý cơ bản về bảo hiểm
                        </p>
                        <a class="go-teacher">Chi tiết</a>
                    </div>
                </sectio>
                <section>
                    <div class="teacher">
                        <div class="img-teacher">
                            <img src="img/training/teacher1.png" alt="" />
                        </div>
                        <h3 class="name-teacher">Lê Thị Kim Châu</h3>
                        <p class="introduce-teacher">
                            Bác sĩ có gần 30 năm kinh nghiệm trong ngành Y khoa và 20 năm
                            kinh nghiệm giảng dạy kiến thức y khoa tại các trường đại học,
                            cao đẳng...
                        </p>
                        <a class="go-teacher">Chi tiết</a>
                    </div>
                </section>
                <section>
                    <div class="teacher">
                        <div class="img-teacher">
                            <img src="img/training/teacher2.png" alt="" />
                        </div>
                        <h3 class="name-teacher">TS. Lê Hoàn</h3>
                        <p class="introduce-teacher">
                            Chương trình phụ trách: Kiến thức về nghiệp vụ bảo hiểm Hàng
                            hải
                        </p>
                        <a class="go-teacher">Chi tiết</a>
                    </div>
                </section>
                <sectio>
                    <div class="teacher">
                        <div class="img-teacher">
                            <img src="img/training/teacher3.png" alt="" />
                        </div>
                        <h3 class="name-teacher">PGS.TS. Nguyễn Văn Định</h3>
                        <p class="introduce-teacher">
                            Chương trình phụ trách: Nguyên lý cơ bản về bảo hiểm
                        </p>
                        <a class="go-teacher">Chi tiết</a>
                    </div>
                </sectio>
            </div>
        </div>
    </section>
</main>

<script>
    $(".slider").slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: false,
        focusOnSelect: true,
        autoplay: false,
        autoplaySpeed: 3000,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    dots: true,
                    slidesToShow: 1,
                },
            },
        ],
    });
</script>