<link rel="stylesheet" href="css/login.css" />
{{!-- --}}

<div class="container">
  <!-- <div class="bg"></div> -->
  <main class="wrapper">
    <h1>Đăng nhập</h1>
    <form action="">
      <div class="form-group" id="form-tk">
        <label class="label" for="">Email</label>
        <input onload="myfunction1(0,this)" onfocus="myfunction(0)" onblur="myfunction1(0,this)" type="text" name=""
          id="input_tk" placeholder="" />
      </div>
      <div class="form-group" id="form-mk">
        <label class="label" id="mk" for="">Mật khẩu</label>
        <input onfocus="myfunction(1)" onblur="myfunction1(1,this)" type="text" name="" id="input_mk" placeholder="" />
        <div class="text_fp">
          <a class="forgot_pw" href="/quen-mat-khau">Quên mật khẩu</a>
        </div>
      </div>
      <!-- <input type="text" id="g-recaptcha-response" name="g-recaptcha-response" /><br>
                -->
      <a id="login" href="/">Đăng nhập</a>
    </form>
    <a class="home" href="/">Trang chủ</a>
  </main>
</div>
<script>
  grecaptcha.ready(function () {
    grecaptcha
      .execute("6LdiYGAiAAAAABXjxPD9Ht_JQ8f36qcP3DPDnQsG", {
        action: "action_name",
      })
      .then(function (token) {
        document.getElementById("g-recaptcha-response");
        console.log(token);
      });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<!-- <script src="https://www.google.com/recaptcha/api.js"></script> -->
<script src="js/login.js"></script>