<link rel="stylesheet" href="css/login.css" />
{{!-- --}}
    <div class="container">
        <!-- <div class="bg"></div> -->
        <main class="wrapper">
            <h1>Đăng nhập</h1>
            <form action="">
                <div class="form-group" id="form-tk">
                    <label class="label" for="">Mật khẩu mới</label>
                    <input onfocus="myfunction(0)" onblur="myfunction1(0,this)" type="text" name="" id="input_tk"
                        placeholder="" />
                </div>
                <div class="form-group" id="form-mk">
                    <label class="label" id="mk" for="">Nhập lại mật khẩu</label>
                    <input onfocus="myfunction(1)" onblur="myfunction1(1,this)" type="password" name="" id="input_mk"
                        placeholder="" />
                </div>
                <a id="login" href="">Xác nhận</a>
            </form>
            <a class="home" href="./login.html">Quay lại đăng nhập</a>
            <a class="home" href="/home">Trang chủ</a>

        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/login.js"></script>