<link rel="stylesheet" href="css/login.css" />
{{!-- --}}
<div class="container">
    <!-- <div class="bg"></div> -->
    <main class="wrapper">
        <h1>Nhập OTP</h1>
        <form action="">
            <div class="form-group" id="form-tk">
                <label class="label" for="">Mã OTP</label>
                <input onfocus="myfunction(0)" onblur="myfunction1(0,this)" type="text" name="" id="input_tk"
                    placeholder="" />
                <span> Nhập mã OTP được gửi đến Email của bạn</span>
                <p><a href="">Gửi lại mã</a></p>
            </div>
            <a id="login" href="./new_pw.html">Xác nhận</a>
        </form>
        <a class="home" href="./login.html">Quay lại đăng nhập</a>
        <a class="home" href="/home">Trang chủ</a>

    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="js/login.js"></script>