<link rel="stylesheet" href="css/chi-tiet-lich-thi.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/dao-tao">Đào tạo</a></li>
                <li><a href="/lich-thi">Lịch thi</a></li>
                <li><span>Lịch thi chứng chỉ Phụ trợ bảo hiểm 2021</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-lich-thi">
        <div class="wrapper">
            <h1 class="page-title">Lịch thi</h1>
        </div>
        <div class="wrapper">
            <h3 class="title-exam">Lịch thi chứng chỉ Phụ trợ bảo hiểm 2021</h3>
            <div class="bg">
                <div class="exam">
                    <img src="img/training/exam1.png" alt="" />
                    <img src="img/training/exam2.png" alt="" />
                </div>
            </div>
        </div>
    </section>
</main>