<link rel="stylesheet" href="css/chi-tiet-giang-vien.css">
{{!-- --}}
<main>
  <nav class="breadcrumbs-block">
    <div class="wrapper">
      <ol class="list-breadcrumbs">
        <li><a class="trans" href="../../"></a></li>
        <li><a href="">Đào tạo</a></li>
        <li><a href="">Giảng viên</a></li>
        <li><span>TS. Lê Hoàn</span></li>
      </ol>
    </div>
  </nav>
  <div class="wrapper">
    <div class="info-title">
      <h2>THÔNG TIN GIẢNG VIÊN</h2>
    </div>
  </div>
  <div class="bg">
    <section class="section-info-teacher">
      <div class="form-img">
        <span class="name-img">TS. Lê Hoàn</span>
        <img class="img-teacher" src="img/training/img-teacher.png" alt="" />
      </div>

      <div class="form-teacher">
        <div class="info-teacher">
          <div class="wp">
            <p class="name-teacher">TS. Lê Hoàn</p>
          </div>
          <div class="form-info">
            <img class="form-info-left" src="img/training/Họ tên.png" alt="" />
            <div class="form-info-right">
              <p class="title-name">Họ và tên:</p>
              <p class="">TS. Lê Hoàn</p>
            </div>
          </div>
          <div class="form-info">
            <img class="form-info-left" src="img/training/Họ tên.png" alt="" />
            <div class="form-info-right">
              <p class="title-name">Nơi công tác:</p>
              <p class="">Hà Nội</p>
            </div>
          </div>
          <div class="form-info">
            <img class="form-info-left" src="img/training/Họ tên.png" alt="" />
            <div class="form-info-right">
              <p class="title-name">Môn dạy:</p>
              <p class="">Nghiệp vụ bảo hiểm hàng hải</p>
            </div>
          </div>
          <div class="form-info">
            <img class="form-info-left" src="img/training/Họ tên.png" alt="" />
            <div class="form-info-right">
              <p class="title-name">Học vị:</p>
              <p class="">Chuyên gia bảo hiểm</p>
            </div>
          </div>
          <div class="form-info">
            <img class="form-info-left" src="img/training/Họ tên.png" alt="" />
            <div class="form-info-right">
              <p class="title-name">Email:</p>
              <p class="">lehoan@gmail.com</p>
            </div>
          </div>
          <div class="form-info">
            <img class="form-info-left" src="img/training/Họ tên.png" alt="" />
            <div class="form-info-right">
              <p class="title-name">Facebook:</p>
              <p class=""></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper courses">
    <div class="course">
      <div>
        <img class="img-1" src="img/training/circle.png" alt="" />
        <img class="img-2" src="img/training/group.png" alt="" />
      </div>
      <p>100+</p>
      <p1>Học sinh đang theo dõi</p1>
    </div>
    <div class="course">
      <div>
        <img class="img-1" src="img/training/circle.png" alt="" />
        <img class="img-2" src="img/training/books.png" alt="" />
      </div>
      <p>1+</p>
      <p1>Khóa học online</p1>
    </div>
    <div class="course">
      <div>
        <img class="img-1" src="img/training/circle.png" alt="" />
        <img class="img-2" src="img/training/promotion.png" alt="" />
      </div>
      <p>15+</p>
      <p1>Năm kinh nghiệm</p1>
    </div>
  </div>
  <div class="wrapper">
    <p class="name-course">Khóa học online</p>
  </div>
  <div class="wrapper">
    <div class="slider">
      <section>
        <div class="item">
          <div class="">
            <div class="avt-item">
              <img src="img/training/boat.png" alt="" />
            </div>
          </div>
          <div class="item-title">
            <h2>TƯ VẤN BẢO HIỂM NHÂN THỌ</h2>
          </div>
          <div class="item-sub">
            <span>14 Bài</span>
            <span>4 Chương</span>
            <span><svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M7.50783 11.6001L10.7959 13.6918C11.3981 14.0751 12.1349 13.5085 11.9765 12.7918L11.1049 8.85846L14.0127 6.20846C14.5436 5.72513 14.2583 4.80846 13.5611 4.75013L9.73423 4.40846L8.23676 0.691797C7.96737 0.0167969 7.04829 0.0167969 6.7789 0.691797L5.28142 4.40013L1.45455 4.7418C0.757309 4.80013 0.472076 5.7168 1.00293 6.20013L3.91072 8.85013L3.03917 12.7835C2.88071 13.5001 3.61756 14.0668 4.21972 13.6835L7.50783 11.6001Z"
                  fill="#FFB525" />
              </svg>
              4,5
            </span>
            <span>100 Học viên</span>
          </div>
          <div class="item-content">
            <p>Chuyên gia bảo hiểm: Nguyễn Lê Bá Phước</p>
          </div>
          <div class="item-price">
            <span>3.000.000đ</span>
            <button class="btnBuy">Mua khóa học</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

<script>
  $(".slider").slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 1,
    dots: true,
    focusOnSelect: true,
    autoplay: true,
    autoplaySpeed: 3000,
    responsive: [
      {
        breakpoint: 767,
        settings: {
          autoplay: false,
          arrows: false,
          dots: true,
          slidesToShow: 1,
        },
      },
    ],
  });
</script>