
<link rel="stylesheet" href="css/home.css" />
{{!--  --}}
<main>
    <section class="section-home-keysivual">
        <div class="wrapper">
            <div class="keyvisual-content">
                <h1 class="keyvisual-title">Great as a smile</h1>
                <p class="keyvisual-text">
                    Mang đến dịch vụ bảo hiểm hoàn hảo nhất cho người dân là một
                    trong những sứ mệnh cao cả của các thành viên Công ty.
                </p>
                <ul class="list-btn">
                    <li><a class="primary-btn" href="./tu-van">Tư vấn ngay</a></li>
                    <li>
                        <a class="primary-btn" href="./ve-chung-toi">Về Vias - Corp</a>
                    </li>
                </ul>
            </div>
            <div class="keyvisual-image">
                <div class="image">
                    <img src="img/home/keyvisual_mask.png" alt="Great as a smile" />
                </div>
            </div>
        </div>
    </section>
    <section class="section-home-advise">
        <div class="wrapper">
            <h2 class="primary-title">Tư vấn bảo hiểm</h2>
            <p class="advise-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book.
            </p>
            <ul class="advise-list">
                <li>
                    <a class="trans" href="/san-pham-bao-hiem">
                        <div class="item-image">
                            <img src="img/home/advise_img_01.png" alt="Tư vấn chung" />
                        </div>
                        <h3 class="item-title">Tư vấn chung</h3>
                    </a>
                </li>
                <li>
                    <a class="trans" href="/san-pham-bao-hiem/chi-tiet">
                        <div class="item-image">
                            <img src="img/home/advise_img_02.png" alt="Bảo hiểm con người" />
                        </div>
                        <h3 class="item-title">Bảo hiểm con người</h3>
                    </a>
                </li>
                <li>
                    <a class="trans" href="/san-pham-bao-hiem/chi-tiet">
                        <div class="item-image">
                            <img src="img/home/advise_img_03.png" alt="Bảo hiểm xe cơ giới" />
                        </div>
                        <h3 class="item-title">Bảo hiểm xe cơ giới</h3>
                    </a>
                </li>
                <li>
                    <a class="trans" href="/san-pham-bao-hiem/chi-tiet">
                        <div class="item-image">
                            <img src="img/home/advise_img_04.png" alt="Bảo hiểm tài sản" />
                        </div>
                        <h3 class="item-title">Bảo hiểm tài sản</h3>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="section-home-service">
        <div class="wrapper">
            <h2 class="primary-title">Dịch vụ</h2>
            <p class="service-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book.
            </p>
            <ul class="service-list">
                <li class="item-service">
                    <div class="item-image">
                        <img src="img/home/service_img_01.jpg" alt="Dịch vụ bồi thường Bảo hiểm xe Cơ giới" />
                    </div>
                    <div class="item-description">
                        <h3 class="item-title">
                            Dịch vụ bồi thường <br />Bảo hiểm xe Cơ giới
                        </h3>
                        <a class="item-btn" href="/dich-vu/danh-muc">Xem thêm</a>
                    </div>
                </li>
                <li class="item-service">
                    <div class="item-image">
                        <img src="img/home/service_img_02.jpg" alt="Dịch vụ bồi thường Bảo hiểm xe Cơ giới" />
                    </div>
                    <div class="item-description">
                        <h3 class="item-title">
                            Dịch vụ bồi thường <br />Bảo hiểm xe Cơ giới
                        </h3>
                        <a class="item-btn" href="/dich-vu/danh-muc">Xem thêm</a>
                    </div>
                </li>
                <li class="item-service">
                    <div class="item-image">
                        <img src="img/home/service_img_03.jpg" alt="Dịch vụ bồi thường Bảo hiểm xe Cơ giới" />
                    </div>
                    <div class="item-description">
                        <h3 class="item-title">
                            Dịch vụ bồi thường <br />Bảo hiểm xe Cơ giới
                        </h3>
                        <a class="item-btn" href="/dich-vu/danh-muc">Xem thêm</a>
                    </div>
                </li>
                <li class="item-service">
                    <div class="item-image">
                        <img src="img/home/service_img_04.jpg" alt="Dịch vụ bồi thường Bảo hiểm xe Cơ giới" />
                    </div>
                    <div class="item-description">
                        <h3 class="item-title">
                            Dịch vụ bồi thường <br />Bảo hiểm xe Cơ giới
                        </h3>
                        <a class="item-btn" href="/dich-vu/danh-muc">Xem thêm</a>
                    </div>
                </li>
                <li class="item-service">
                    <div class="item-image">
                        <img src="img/home/service_img_05.jpg" alt="Dịch vụ bồi thường Bảo hiểm xe Cơ giới" />
                    </div>
                    <div class="item-description">
                        <h3 class="item-title">
                            Dịch vụ bồi thường <br />Bảo hiểm xe Cơ giới
                        </h3>
                        <a class="item-btn" href="/dich-vu/danh-muc">Xem thêm</a>
                    </div>
                </li>
                <li class="item-service">
                    <div class="item-image">
                        <img src="img/home/service_img_06.jpg" alt="Dịch vụ bồi thường Bảo hiểm xe Cơ giới" />
                    </div>
                    <div class="item-description">
                        <h3 class="item-title">
                            Dịch vụ bồi thường <br />Bảo hiểm xe Cơ giới
                        </h3>
                        <a class="item-btn" href="/dich-vu/danh-muc">Xem thêm</a>
                    </div>
                </li>
                <li class="item-service">
                    <div class="item-image">
                        <img src="img/home/service_img_07.jpg" alt="Dịch vụ bồi thường Bảo hiểm xe Cơ giới" />
                    </div>
                    <div class="item-description">
                        <h3 class="item-title">
                            Dịch vụ bồi thường <br />Bảo hiểm xe Cơ giới
                        </h3>
                        <a class="item-btn" href="/dich-vu/danh-muc">Xem thêm</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="section-home-train">
        <div class="wrapper">
            <h2 class="primary-title sm">Đào tạo</h2>
            <div class="train-image">
                <picture>
                    <source media="(min-width:767px)" srcset="img/home/train_img.jpg" />
                    <img src="img/home/sp/train_img.jpg" alt="Đào tạo" />
                </picture>
            </div>
            <div class="train-content">
                <h2 class="primary-title md">Đào tạo</h2>
                <div class="train-description">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                </div>
                <ul class="list-btn">
                    <li><a class="primary-btn" href="/khoa-hoc">Khoá học</a></li>
                    <li><a class="primary-btn" href="/luyen-thi">Luyện thi chứng chỉ</a></li>
                    <li><a class="primary-btn" href="/lich-thi">Lịch thi</a></li>
                    <li><a class="primary-btn" href="/giang-vien">Giảng viên</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-home-compare">
        <div class="wrapper">
            <div class="compare-content">
                <h2 class="primary-title md">So sánh bảo hiểm</h2>
                <div class="compare-description">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type
                    </p>
                </div>
                <ul class="advise-list">
                    <li>
                        <a href="#">
                            <div class="item-image">
                                <img src="img/home/advise_img_05.png" alt="BH vật chất ô tô" />
                            </div>
                            <h3 class="item-title">BH vật chất ô tô</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="item-image">
                                <img src="img/home/advise_img_06.png" alt="BH sức khoẻ" />
                            </div>
                            <h3 class="item-title">BH sức khoẻ</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="item-image">
                                <img src="img/home/advise_img_07.png" alt="BH nhân thọ" />
                            </div>
                            <h3 class="item-title">BH nhân thọ</h3>
                        </a>
                    </li>
                </ul>
            </div>
            <h2 class="primary-title sm">So sánh bảo hiểm</h2>
            <div class="compare-image">
                <picture>
                    <source media="(min-width:767px)" srcset="img/home/compare_img.jpg" />
                    <img src="img/home/sp/compare_img.jpg" alt="So sánh bảo hiểm" />
                </picture>
            </div>
        </div>
    </section>
    <section class="section-home-knowledge">
        <div class="wrapper">
            <h2 class="primary-title">Kiến thức bảo hiểm</h2>
            <div class="knowledge-inner">
                <ul class="knowledge-list">
                    <li class="knowledge-item">
                        <a class="trans" href="/tin-tuc-kien-thuc">
                            <div class="item-image">
                                <img src="img/home/knowledge_img.jpg"
                                    alt="Bảo hiểm là gì? Các thuật ngữ cơ bản nhất trong bảo hiểm bạn nên biết" />
                                <time class="item-time" datetime="20-07-2021">20-07-2021</time>
                            </div>
                            <div class="item-description">
                                <h3 class="item-title">
                                    Bảo hiểm là gì? Các thuật ngữ cơ bản nhất trong bảo hiểm
                                    bạn nên biết
                                </h3>
                                <p class="item-text">
                                    Bảo hiểm là một hoạt động qua đó một cá nhân có quyền
                                    được hưởng trợ cấp bảo hiểm nhờ vào một khoản đóng góp
                                    cho mình hoặc cho người thứ 3 trong trường hợp xảy ra...
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="knowledge-item">
                        <a class="trans" href="/tin-tuc-kien-thuc">
                            <div class="item-image">
                                <img src="img/home/knowledge_img.jpg"
                                    alt="Bảo hiểm là gì? Các thuật ngữ cơ bản nhất trong bảo hiểm bạn nên biết" />
                                <time class="item-time" datetime="20-07-2021">20-07-2021</time>
                            </div>
                            <div class="item-description">
                                <h3 class="item-title">
                                    Bảo hiểm là gì? Các thuật ngữ cơ bản nhất trong bảo hiểm
                                    bạn nên biết
                                </h3>
                                <p class="item-text">
                                    Bảo hiểm là một hoạt động qua đó một cá nhân có quyền
                                    được hưởng trợ cấp bảo hiểm nhờ vào một khoản đóng góp
                                    cho mình hoặc cho người thứ 3 trong trường hợp xảy ra...
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="knowledge-item">
                        <a class="trans" href="/tin-tuc-kien-thuc">
                            <div class="item-image">
                                <img src="img/home/knowledge_img.jpg"
                                    alt="Bảo hiểm là gì? Các thuật ngữ cơ bản nhất trong bảo hiểm bạn nên biết" />
                                <time class="item-time" datetime="20-07-2021">20-07-2021</time>
                            </div>
                            <div class="item-description">
                                <h3 class="item-title">
                                    Bảo hiểm là gì? Các thuật ngữ cơ bản nhất trong bảo hiểm
                                    bạn nên biết
                                </h3>
                                <p class="item-text">
                                    Bảo hiểm là một hoạt động qua đó một cá nhân có quyền
                                    được hưởng trợ cấp bảo hiểm nhờ vào một khoản đóng góp
                                    cho mình hoặc cho người thứ 3 trong trường hợp xảy ra...
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-home-partners">
        <div class="wrapper">
            <h2 class="primary-title">Đối tác chính</h2>
            <ul class="partners-list">
                <li>
                    <a class="trans" href="#"><img src="img/home/partners_img_01.jpg" alt="Google" /></a>
                </li>
                <li>
                    <a class="trans" href="#"><img src="img/home/partners_img_02.jpg" alt="PVI" /></a>
                </li>
                <li>
                    <a class="trans" href="#"><img src="img/home/partners_img_03.jpg" alt="Vietnam Airlines" /></a>
                </li>
                <li>
                    <a class="trans" href="#"><img src="img/home/partners_img_04.jpg" alt="Vietcombank" /></a>
                </li>
                <li>
                    <a class="trans" href="#"><img src="img/home/partners_img_05.jpg" alt="Lotus" /></a>
                </li>
                <li>
                    <a class="trans" href="#"><img src="img/home/partners_img_06.jpg" alt="TECHCOMBANK" /></a>
                </li>
            </ul>
        </div>
    </section>
</main>