<link rel="stylesheet" href="css/dao-tao.css">
{{!--  --}}
<main>
  <nav class="breadcrumbs-block">
    <div class="wrapper">
      <ol class="list-breadcrumbs">
        <li><a class="trans" href="/"></a></li>
        <li><span>Đào tạo</span></li>
      </ol>
    </div>
  </nav>
  <section class="section-dao-tao">
    <div class="wrapper">
      <h1 class="page-title">Đào tạo</h1>
      <p class="page-introduce">
        VICS - CORP tự hào là đơn vị tiên phong tổ chức các khoá đào tạo phụ
        trợ bảo hiểm nhằm nâng cao chất lượng nguồn nhân lực của thị trường
        bảo hiểm Việt Nam. Ngoài các kiến thức chuyên môn cơ bản, các chương
        trình đào tạo nhắm tới mục tiêu kết nối những kinh nghiệm thực tế
        thị trường, có tính ứng dụng cao để các học viên có thể áp dụng ngay
        vào trong công việc hàng ngày.
      </p>
      <div class="category-list">
        <div class="item">
          <div class="avt-background">
            <div class="avt-item">
              <img src="img/training/Ellipse 5.png" alt="" />
            </div>
          </div>
          <div class="item-title">
            <h2>Khóa học</h2>
          </div>
          <div class="item-content">
            <p>
              Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn
              Pruden.tial" với câu slogan đi vào trái tim của Khách hàng và
              mạng lưới Pruden.tial đã từng phủ dài trên khắp mảnh đất hình
              chữ S. Riêng với Pruden.tial...
            </p>
          </div>
          <a href="/khoa-hoc"><button class="btnMore">Tìm hiểu thêm</button></a>
        </div>
        <div class="item">
          <div class="avt-background">
            <div class="avt-item">
              <img src="img/training/Ellipse 5.png" alt="" />
            </div>
          </div>
          <div class="item-title">
            <h2>Luyện thi chứng chỉ</h2>
          </div>
          <div class="item-content">
            <p>
              Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn
              Pruden.tial" với câu slogan đi vào trái tim của Khách hàng và
              mạng lưới Pruden.tial đã từng phủ dài trên khắp mảnh đất hình
              chữ S. Riêng với Pruden.tial...
            </p>
          </div>
          <a href="/luyen-thi"><button class="btnMore">Tìm hiểu thêm</button></a>
        </div>
        <div class="item">
          <div class="avt-background">
            <div class="avt-item">
              <img src="img/training/Ellipse 5.png" alt="" />
            </div>
          </div>
          <div class="item-title">
            <h2>Lịch thi</h2>
          </div>
          <div class="item-content">
            <p>
              Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn
              Pruden.tial" với câu slogan đi vào trái tim của Khách hàng và
              mạng lưới Pruden.tial đã từng phủ dài trên khắp mảnh đất hình
              chữ S. Riêng với Pruden.tial...
            </p>
          </div>
          <a href="/lich-thi"><button class="btnMore">Tìm hiểu thêm</button></a>
        </div>
        <div class="item">
          <div class="avt-background">
            <div class="avt-item">
              <img src="img/training/Ellipse 5.png" alt="" />
            </div>
          </div>
          <div class="item-title">
            <h2>Giảng viên</h2>
          </div>
          <div class="item-content">
            <p>
              Nói đến bảo hiểm không thể không nhắc đến "Ông Lớn
              Pruden.tial" với câu slogan đi vào trái tim của Khách hàng và
              mạng lưới Pruden.tial đã từng phủ dài trên khắp mảnh đất hình
              chữ S. Riêng với Pruden.tial...
            </p>
          </div>
          <a href="/giang-vien"><button class="btnMore">Tìm hiểu thêm</button></a>
        </div>
      </div>
    </div>
  </section>
</main>