<link rel="stylesheet" href="/css/price.css">
{{!--  --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="../"></a></li>
                <li><span>Báo giá</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-price">
        <div class="wrapper">
            <h1 class="page-title">Báo giá dịch vụ bồi thường bảo hiểm</h1>
            <div class="price-image"><img src="../img/price/price_img.jpg" alt="Báo giá dịch vụ bồi thường bảo hiểm">
            </div>
        </div>
    </section>
</main>