body {
    font-family: "Poppins", sans-serif;
    padding: auto;
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 16px;
    border: 2px dashed #b99130;
    padding: 16px 22px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 30px;
    margin-bottom: 25px;
    max-width: 350px;
    box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.25);
}

.avt-background {
    background-color: #b99130;
    border-radius: 100%;
    padding: 10px 0 0 15px;
}

.item-title h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #303039;
}

.item-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #75818f;
    margin: 0 !important;
}

.btnMore {
    padding: 7px 14px;
    border: 1px solid #209956;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #209956;
    outline: none;
    background-color: white;
}

.btnMore:hover {
    background-color: #209956;
    color: white;
    transition: 0.5s all;
    cursor: pointer;
}

.wrapper {
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.section-dao-tao {
    padding-bottom: 50px;
}

.page-title {
    font-weight: 600;
    font-size: 32px;
    color: #209956;
    border-bottom: 2px solid #EDEDE6;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 44px;
    margin-top: 0;
}

.page-introduce {
    margin-left: 30px;
    margin-right: 30px;
}

.category-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background: #EDEDE6;
    justify-content: center;
}

@media screen and (max-width:767.98px) {

    .row1,
    .row2 {
        flex-direction: column;
        align-items: center;
    }
}