<link rel="stylesheet" href="">

<footer>
    <div class="wrapper">
        <div class="footer-info">
            <h2 class="footer-title">
                CÔNG TY CỔ PHẦN PHỤ TRỢ <br />BẢO HIỂM VIỆT NAM
            </h2>
            <div class="info-description">
                <p>MST: 0108909584</p>
                <address class="info">
                    Số 5A/579 Lạc Long Quân, P Xuân La,<br class="md" />Quận Tây Hồ,
                    TP Hà Nội.
                </address>
                <p>
                    Hotline:
                    <a class="trans" href="tel:1900.988.965">1900.988.965 | </a><a class="trans"
                        href="tel:0906.060.784">0906.060.784</a>
                </p>
            </div>
        </div>
        <div class="footer-about">
            <h2 class="footer-title">Về VIaS corp</h2>
            <ul class="list-links">
                <li><a class="trans" href="#">Điều khoản sử dụng</a></li>
                <li><a class="trans" href="#">Quy chế hoạt động</a></li>
                <li><a class="trans" href="#">Chính sách bảo mật</a></li>
                <li>
                    <a class="trans" href="#">Trung tâm chăm sóc khách hàng</a>
                </li>
                <li><a class="trans" href="#">Chính sách hoàn tiền</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h2 class="footer-title">Nhận tin tức theo dõi từ chúng tôi</h2>
            <form class="contact-form">
                <input class="form-input" type="email" placeholder="email" />
                <button class="form-submit" type="submit">Gửi</button>
            </form>
        </div>
    </div>
</footer>
