
<header>
    <div class="wrapper">
        <div class="header-logo">
            <a class="trans logo-image" href="./"><img src="./img/common/header_logo.svg"
                    alt="VIAS CORP INSURANCE SERVICES" /></a>
        </div>
        <div class="header-menu js-toggle-menu trans">
            <div class="menu-button">Menu</div>
        </div>
        <form class="header-search">
            <input class="search-input md" type="text" placeholder="Tìm kiếm từ khoá" />
            <button class="search-submit" type="submit"></button>
        </form>
        <div class="btn-menu sm js-toggle-navbar">
            <span></span><span></span><span></span>
        </div>
        <nav class="header-navigation">
            <ul class="list-navbar">
                <li><a class="trans" href="./ve-chung-toi">Về chúng tôi</a></li>
                <li><a class="trans" href="./lien-he">Liên hệ</a></li>
            </ul>
            <a class="header-login" href="./dang-nhap/login.html">Đăng nhập</a>
        </nav>
    </div>
    <div class="menu-block js-header-menu">
        <div class="wrapper">
            <div class="menu-categories">
                <ul class="list-categories js-tabs">
                    <li class="tab-link current" data-tab="tab-advise">Tư vấn</li>
                    <li class="tab-link" data-tab="tab-service">Dịch vụ</li>
                    <li class="tab-link" data-tab="tab-train">Đào tạo</li>
                    <li class="tab-link" data-tab="tab-compare">So sánh</li>
                    <li class="tab-link" data-tab="tab-insurance">
                        Sản phẩm Bảo hiểm
                    </li>
                    <li class="tab-link" data-tab="tab-news">
                        Tin tức - Kiến thức
                    </li>
                    <li>
                        <a href="./ket-noi-tu-van-vien">Báo giá Kết nối tư vấn viên</a>
                    </li>
                    <li><a href="./bao-gia">Báo giá</a></li>
                </ul>
            </div>
            <div class="menu-content js-tab-content">
                <span class="content-close trans js-menu-close"></span>
                <div class="content-block tab-content current" id="tab-advise">
                    <div class="block-item">
                        <p class="item-title">Tư vấn chung về bảo hiểm</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./tu-van/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <p class="post-title">
                                        Giám định tổn thất trong bảo hiểm phi nhân thọ!
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tu-van/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="Luật bên Trung Quốc xét xử như thế nào trong các vụ án tranh chấp bảo hiểm?" />
                                    </div>
                                    <p class="post-title">
                                        Luật bên Trung Quốc xét xử như thế nào trong các vụ án
                                        tranh chấp bảo hiểm?
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tu-van/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Câu chuyện cổ số hạt lúa trên bàn cờ vua và Giải thưởng của Đại lý tổ chức!" />
                                    </div>
                                    <p class="post-title">
                                        Câu chuyện cổ số hạt lúa trên bàn cờ vua và Giải
                                        thưởng của Đại lý tổ chức!
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./tu-van/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Tư vấn chung về bảo hiểm</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./tu-van/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <p class="post-title">
                                        Giám định tổn thất trong bảo hiểm phi nhân thọ!
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tu-van/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="Luật bên Trung Quốc xét xử như thế nào trong các vụ án tranh chấp bảo hiểm?" />
                                    </div>
                                    <p class="post-title">
                                        Luật bên Trung Quốc xét xử như thế nào trong các vụ án
                                        tranh chấp bảo hiểm?
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tu-van/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Câu chuyện cổ số hạt lúa trên bàn cờ vua và Giải thưởng của Đại lý tổ chức!" />
                                    </div>
                                    <p class="post-title">
                                        Câu chuyện cổ số hạt lúa trên bàn cờ vua và Giải
                                        thưởng của Đại lý tổ chức!
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./tu-van/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Tư vấn chung về bảo hiểm</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./tu-van/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <p class="post-title">
                                        Giám định tổn thất trong bảo hiểm phi nhân thọ!
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tu-van/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="Luật bên Trung Quốc xét xử như thế nào trong các vụ án tranh chấp bảo hiểm?" />
                                    </div>
                                    <p class="post-title">
                                        Luật bên Trung Quốc xét xử như thế nào trong các vụ án
                                        tranh chấp bảo hiểm?
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tu-van/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Câu chuyện cổ số hạt lúa trên bàn cờ vua và Giải thưởng của Đại lý tổ chức!" />
                                    </div>
                                    <p class="post-title">
                                        Câu chuyện cổ số hạt lúa trên bàn cờ vua và Giải
                                        thưởng của Đại lý tổ chức!
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./tu-van/danh-muc">Xem tất cả</a>
                    </div>
                </div>
                <div class="content-block tab-content" id="tab-service">
                    <div class="block-item">
                        <p class="item-title">Dịch vụ bồi thường BH nhân thọ</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <p class="post-title">
                                        Giám định tổn thất trong bảo hiểm phi nhân thọ!
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="Luật bên Trung Quốc xét xử như thế nào trong các vụ án tranh chấp bảo hiểm?" />
                                    </div>
                                    <p class="post-title">
                                        Luật bên Trung Quốc xét xử như thế nào trong các vụ án
                                        tranh chấp bảo hiểm?
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Câu chuyện cổ số hạt lúa trên bàn cờ vua và Giải thưởng của Đại lý tổ chức!" />
                                    </div>
                                    <p class="post-title">
                                        Câu chuyện cổ số hạt lúa trên bàn cờ vua và Giải
                                        thưởng của Đại lý tổ chức!
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Dịch vụ bồi thường BH sức khoẻ</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg" alt="" Nữ giới tham gia bảo hiểm hãy
                                            tham khảo Bảo Việt!"">
                                    </div>
                                    <p class="post-title">
                                        "Nữ giới tham gia bảo hiểm hãy tham khảo Bảo Việt!"
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg" alt="Chú ngựa
                            trong ngành bảo hiểm nhân thọ " MB Ageas life"!">
                                    </div>
                                    <p class="post-title">
                                        Chú ngựa trong ngành bảo hiểm nhân thọ "MB Ageas
                                        life"!
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg" alt="Prudential " Luôn luôn lắng nghe -
                                            Luôn luôn thấu hiểu"!">
                                    </div>
                                    <p class="post-title">
                                        Prudential "Luôn luôn lắng nghe - Luôn luôn thấu
                                        hiểu"!
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Dịch vụ bồi thường BH xe Cơ Giới</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Hồ sơ công an có cần khi yêu cầu bảo hiểm xe cơ giới?" />
                                    </div>
                                    <p class="post-title">
                                        Hồ sơ công an có cần khi yêu cầu bảo hiểm xe cơ giới?
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="Thỏa thuận mỗi bên tự chịu trách nhiệm bồi thường trong bảo hiểm vật chất xe" />
                                    </div>
                                    <p class="post-title">
                                        Thỏa thuận mỗi bên tự chịu trách nhiệm bồi thường
                                        trong bảo hiểm vật chất xe
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Có cần hồ sơ công an khi giải quyết bồi thường bảo hiểm xe cơ giới?" />
                                    </div>
                                    <p class="post-title">
                                        Có cần hồ sơ công an khi giải quyết bồi thường bảo
                                        hiểm xe cơ giới?
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">DV bồi thường BH hằng hải</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg" alt="Điều
                            khoản " Giông, bão, lụt" trong bảo hiểm tài sản: Ưu việt hay Bất cập???">
                                    </div>
                                    <p class="post-title">
                                        Điều khoản "Giông, bão, lụt" trong bảo hiểm tài sản:
                                        Ưu việt hay Bất cập???
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="Tư vấn khởi kiện đòi quyền lợi bảo hiểm công trình xây dựng" />
                                    </div>
                                    <p class="post-title">
                                        Tư vấn khởi kiện đòi quyền lợi bảo hiểm công trình xây
                                        dựng
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Tư vấn đòi quyền lợi bảo hiểm cháy nổ nhà chung cư" />
                                    </div>
                                    <p class="post-title">
                                        Tư vấn đòi quyền lợi bảo hiểm cháy nổ nhà chung cư
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Dịch vụ bồi thường BH tài sản</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <p class="post-title">
                                        Giám định tổn thất trong bảo hiểm phi nhân thọ!
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="Luật bên Trung Quốc xét xử như thế nào trong các vụ án tranh chấp bảo hiểm?" />
                                    </div>
                                    <p class="post-title">
                                        Luật bên Trung Quốc xét xử như thế nào trong các vụ án
                                        tranh chấp bảo hiểm?
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Tư vấn đòi quyền lợi bảo hiểm cháy nổ nhà chung cư" />
                                    </div>
                                    <p class="post-title">
                                        Tư vấn đòi quyền lợi bảo hiểm cháy nổ nhà chung cư
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Đánh giá rủi ro bảo hiểm</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg" alt="" Nữ giới tham gia bảo hiểm hãy
                                            tham khảo Bảo Việt!"">
                                    </div>
                                    <p class="post-title">
                                        "Nữ giới tham gia bảo hiểm hãy tham khảo Bảo Việt!"
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg" alt="Chú ngựa
                            trong ngành bảo hiểm nhân thọ " MB Ageas life"!">
                                    </div>
                                    <p class="post-title">
                                        Chú ngựa trong ngành bảo hiểm nhân thọ "MB Ageas
                                        life"!
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg" alt="Prudential " Luôn luôn lắng nghe -
                                            Luôn luôn thấu hiểu"!">
                                    </div>
                                    <p class="post-title">
                                        Prudential "Luôn luôn lắng nghe - Luôn luôn thấu
                                        hiểu"!
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Giám định tổn thất bảo hiểm</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Hồ sơ công an có cần khi yêu cầu bảo hiểm xe cơ giới?" />
                                    </div>
                                    <p class="post-title">
                                        Hồ sơ công an có cần khi yêu cầu bảo hiểm xe cơ giới?
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="Thỏa thuận mỗi bên tự chịu trách nhiệm bồi thường trong bảo hiểm vật chất xe" />
                                    </div>
                                    <p class="post-title">
                                        Thỏa thuận mỗi bên tự chịu trách nhiệm bồi thường
                                        trong bảo hiểm vật chất xe
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Có cần hồ sơ công an khi giải quyết bồi thường bảo hiểm xe cơ giới?" />
                                    </div>
                                    <p class="post-title">
                                        Có cần hồ sơ công an khi giải quyết bồi thường bảo
                                        hiểm xe cơ giới?
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                </div>
                <div class="content-block tab-content" id="tab-train">
                    <div class="block-item">
                        <p class="item-title">Khoá học</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <div class="post-info">
                                        <p class="post-title">
                                            Nguyên lý và pháp lý trong bảo hiểm
                                        </p>
                                        <p class="post-desc">1 Khoá</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <div class="post-info">
                                        <p class="post-title">
                                            Hỗ trợ giải quyết bồi thường bảo hiểm
                                        </p>
                                        <p class="post-desc">3 Khoá</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <div class="post-info">
                                        <p class="post-title">Tư vấn bảo hiểm</p>
                                        <p class="post-desc">5 Khoá</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dao-tao/dao-tao/index.html">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Luyện thi chứng chỉ</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <div class="post-info">
                                        <p class="post-title">Chứng chỉ phụ trợ bảo hiểm</p>
                                        <p class="post-desc">1 Khoá</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <div class="post-info">
                                        <p class="post-title">Chứng chỉ đại lý bảo hiểm</p>
                                        <p class="post-desc">3 Khoá</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <div class="post-info">
                                        <p class="post-title">
                                            Chứng chỉ phi nhân thọ cơ bản
                                        </p>
                                        <p class="post-desc">5 Khoá</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Lịch thi</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <p class="post-title">
                                        Lịch thi chứng chỉ phụ trợ bảo hiểm 2021
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <p class="post-title">
                                        Lịch thi chứng chỉ phụ trợ bảo hiểm 3/2022
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <p class="post-title">
                                        Lịch thi chứng chỉ phi nhân thọ cơ bản 5/2022
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Giảng viên</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <div class="post-info">
                                        <p class="post-title">
                                            TS. Lê Hoàn
                                        </p>
                                        <p class="post-desc">Chương trình phụ trách: Kiến thức về nghiệp vụ bảo hiểm
                                            Hàng hải</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <div class="post-info">
                                        <p class="post-title">
                                            PGS. TS Nguyễn Văn Định
                                        </p>
                                        <p class="post-desc">Chương trình phụ trách: Nguyên lý cơ bản về bảo hiểm</p>
                                    </div>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./dich-vu/danh-muc/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Giám định tổn thất trong bảo hiểm phi nhân thọ!" />
                                    </div>
                                    <div class="post-info">
                                        <p class="post-title">
                                            Th.s Vũ Hoàng Long
                                        </p>
                                        <p class="post-desc">Chương trình phụ trách: Nghiệp vụ bảo hiểm Tài sản - Kỹ
                                            thuật</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./dich-vu/danh-muc">Xem tất cả</a>
                    </div>
                </div>
                <div class="content-block tab-content" id="tab-insurance">
                    <div class="block-item">
                        <p class="item-title">Sản phẩm bảo hiểm vật chất xe</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg" alt="PTI" />
                                    </div>
                                    <p class="post-title">PTI</p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg" alt="VNI" />
                                    </div>
                                    <p class="post-title">VNI</p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg" alt="MIC" />
                                    </div>
                                    <p class="post-title">MIC</p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./san-pham-bao-hiem">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Sản phẩm bảo hiểm nhân thọ</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg" alt="PTI" />
                                    </div>
                                    <p class="post-title">PTI</p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg" alt="VNI" />
                                    </div>
                                    <p class="post-title">VNI</p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg" alt="MIC" />
                                    </div>
                                    <p class="post-title">MIC</p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./san-pham-bao-hiem">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Sản phẩm bảo hiểm sức khỏe</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg" alt="PTI" />
                                    </div>
                                    <p class="post-title">PTI</p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg" alt="VNI" />
                                    </div>
                                    <p class="post-title">VNI</p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg" alt="MIC" />
                                    </div>
                                    <p class="post-title">MIC</p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./san-pham-bao-hiem">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Sản phẩm bảo hiểm khác</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg" alt="PTI" />
                                    </div>
                                    <p class="post-title">PTI</p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg" alt="VNI" />
                                    </div>
                                    <p class="post-title">VNI</p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./san-pham-bao-hiem/chi-tiet">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg" alt="MIC" />
                                    </div>
                                    <p class="post-title">MIC</p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./san-pham-bao-hiem">Xem tất cả</a>
                    </div>
                </div>
                <div class="content-block tab-content" id="tab-news">
                    <div class="block-item">
                        <p class="item-title">Tin tức</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./tin-tuc-kien-thuc/tin-tuc">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Nhổ răng và hồ sơ bồi thường bảo hiểm!" />
                                    </div>
                                    <p class="post-title">
                                        Nhổ răng và hồ sơ bồi thường bảo hiểm!
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tin-tuc-kien-thuc/tin-tuc">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="KHÓA ĐÀO TẠO: TƯ VẤN ĐỘC LẬP & HỖ TRỢ GIẢI QUYẾT BỒI THƯỜNG BẢO HIỂM" />
                                    </div>
                                    <p class="post-title">
                                        KHÓA ĐÀO TẠO: TƯ VẤN ĐỘC LẬP & HỖ TRỢ GIẢI QUYẾT BỒI
                                        THƯỜNG BẢO HIỂM
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tin-tuc-kien-thuc/tin-tuc">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Bình thường mới Những thay đổi trong hành vi trong thời kỳ đại dịch đã làm..." />
                                    </div>
                                    <p class="post-title">
                                        Bình thường mới Những thay đổi trong hành vi trong
                                        thời kỳ đại dịch đã làm...
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./tin-tuc-kien-thuc/tin-tuc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <p class="item-title">Kiến thức</p>
                        <ul class="list-post">
                            <li class="post-item">
                                <a class="trans" href="./tin-tuc-kien-thuc/kien-thuc">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_01.jpg"
                                            alt="Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ" />
                                    </div>
                                    <p class="post-title">
                                        Lưu ý khi so sánh các sản phẩm bảo hiểm nhân thọ
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tin-tuc-kien-thuc/kien-thuc">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_02.jpg"
                                            alt="Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại Vbaohiem" />
                                    </div>
                                    <p class="post-title">
                                        Hướng dẫn sử dụng công cụ so sánh bảo hiểm tại
                                        Vbaohiem
                                    </p>
                                </a>
                            </li>
                            <li class="post-item">
                                <a class="trans" href="./tin-tuc-kien-thuc/kien-thuc">
                                    <div class="post-image">
                                        <img src="./img/common/menu_img_03.jpg"
                                            alt="Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô tại website Vbaohiem" />
                                    </div>
                                    <p class="post-title">
                                        Lưu ý khi so sánh sản phẩm bảo hiểm vật chất xe ô tô
                                        tại website Vbaohiem
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <a class="item-link trans" href="./tin-tuc-kien-thuc/kien-thuc">Xem tất cả</a>
                    </div>
                    <div class="block-item">
                        <a class="item-title trans" href="./tin-tuc-kien-thuc/cau-hoi/">Các câu hỏi thường gặp</a>
                        <ul class="list-post"></ul>
                    </div>
                    <div class="block-item">
                        <a class="item-title trans" href="./tin-tuc-kien-thuc/thuat-ngu/">Giải thích thuật ngữ</a>
                        <ul class="list-post"></ul>
                    </div>
                    <div class="block-item">
                        <a class="item-title trans" href="./tin-tuc-kien-thuc/dao-tao/">Đào tạo</a>
                        <ul class="list-post"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>