<link rel="stylesheet" href="css/luyen-thi.css">
{{!-- --}}
<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="/dao-tao">Đào tạo</a></li>
                <li><a href="/luyen-thi">Luyện thi chứng chỉ</a></li>
                <li><span>Chứng chỉ phụ trợ bảo hiểm</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-luyen-thi">
        <div class="wrapper">
            <h1 class="page-title">Chứng chỉ phụ trợ bảo hiểm</h1>
        </div>
        <div class="wrapper">
            <div class="form-wrapper">
                <div class="content-tab">
                    <div class="room">
                        <img class="img-room" src="img/training/room.png" alt="">
                        <p class="name-room">D14CNPM4</p>
                        <a class="go-room" href="">Vào thi</a>
                    </div>
                </div>
            </div>
        </div>
</main>