<link rel="stylesheet" href="css/luyen-thi.css">
{{!-- --}}

<main>
    <nav class="breadcrumbs-block">
        <div class="wrapper">
            <ol class="list-breadcrumbs">
                <li><a class="trans" href="/"></a></li>
                <li><a href="dao-tao">Đào tạo</a></li>
                <li><span>Luyện thi chứng chỉ</span></li>
            </ol>
        </div>
    </nav>
    <section class="section-luyen-thi">
        <div class="wrapper">
            <h1 class="page-title">Luyện thi chứng chỉ</h1>
        </div>
        <div class="wrapper">
            <div class="form-wrapper">
                <ul class="tab-list">
                    <li class="tab-item tab-active" onclick="chooseTab(0)">
                        <a>Chứng chỉ phụ trợ bảo hiểm</a>
                    </li>
                    <li class="tab-item" onclick="chooseTab(1)">
                        <a>Chứng chỉ đại lí bảo hiểm</a>
                    </li>
                    <li class="tab-item" onclick="chooseTab(2)">
                        <a>Phi nhân thọ cơ bản</a>
                    </li>
                </ul>
                <div class="content">
                    <p class="content__title">HDBH</p>
                    <div class="content-tab">
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                    </div>
                    <div class="view-all">
                        <a href="/luyen-thi-tat-ca">Xem tất cả</a>
                    </div>
                </div>
                <div class="content hidden">
                    <p class="content__title">HDBH</p>
                    <div class="content-tab">
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                    </div>
                    <div class="view-all">
                        <a href="/luyen-thi-tat-ca">Xem tất cả</a>
                    </div>
                </div>
                <div class="content hidden">
                    <p class="content__title">HDBH</p>
                    <div class="content-tab">
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                        <div class="room">
                            <img class="img-room" src="img/training/room.png" alt="">
                            <p class="name-room">GDHH_36561</p>
                            <a class="go-room">Vào thi</a>
                        </div>
                    </div>
                    <div class="view-all">
                        <a href="/luyen-thi-tat-ca">Xem tất cả</a>
                    </div>
                </div>
            </div>
        </div>
</main>